body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
    background-color: #f3f3f3;
}

.my-button {
    padding: 15px 25px;
    background: linear-gradient(135deg, #5bc0de, #be4bdb);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
    .my-button:hover {
        background: linear-gradient(135deg, #45aaf2, #a83eca);
        transform: scale(1.02);
    }
